
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.light-mode {

}

.dark-mode {
    background-color: #333;
    color: #ddd;

    div, span, nav {
        background-color: #333;
        color: #ddd;
    }

    a, a:hover {
        color: #ddd;
    }
}

.post {
    margin-top: 30px;
}

.updatePost {
    display: none;
}

.postHighlight {
    background-color: #ffe70a;
    @include transition(background 3s);
}

.afterPostHighlight {
    background-color: #00000008;
    @include transition(background 3s);
}
